$color-white: #FFFFFF;
$color-primary: rgba(0, 61, 89, 0.72);
$color-secondary: #003D59;
$color-orange: #F68873;
$color-disable: #F9F9F9;
$color-error: #F07C7C;
$color-green: #82B68C;

$color-text-disable: #D4D5D8;

$color-orange-hover: rgba(246, 136, 115, 0.80);
$color-orange-active: #F68873;

$color-gray: rgba(0, 61, 89, 0.04);
$color-gray-hover: rgba(0, 61, 89, 0.08);
$color-gray-active: rgba(0, 61, 89, 0.12);

$color-button-white: rgba(255, 255, 255, 0.16);
$color-button-white-hover: rgba(255, 255, 255, 0.10);
$color-button-white-active: rgba(255, 255, 255, 0.12);

$color-card-green: #95C89F;
$color-card-blue: #6FB6CF;
$color-card-orange: #FEC76B;


$transition-radio: 0.25s all;
$transition-scrollTop: 0.3s all;
$transition-button: 0.2s all;
$transition-cards: 1.2s all;
$transition-reservedPlaces: 0.3s all;
$transition-tours: 0.3s all;
$transition-input: 0.3s all;
$transition-header_search: 0.4s all;